.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  font-size: 1.2rem;
  color: var(--text-muted);
}

.link {
  text-decoration: none;
  color: var(--text-muted);
}

.link:hover {
  text-decoration: underline;
}

.github {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--text-muted);
}
