.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  min-width: 24rem;
  padding: 0.6rem;
  background-color: var(--primary);
  color: var(--text-over-primary);
  cursor: pointer;
  border-radius: 0.8rem;
  border: none;
  transition: 0.2s ease-in-out;
}

.button:hover {
  filter: brightness(70%)
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.green {
  background: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background: var(--error);
  color: var(--text-over-error);
}
